.DS_Store
*.py[cod]
*.jpg
*.gz
*.csv
*.html
!catalog.html
*.xml
*.json
!/catalog.json
*.sw*
*-needsbib.txt
kne-internal
kne-external*
kne-2000-2029
kne-boneyard
kne-private*
*.log
*.bak
WISeWEBSpider
